<div>
    <h3>Username</h3>
    <!--<button md-button (click)="openModalDialog()">Open dialog</button>-->
    <form #f="ngForm" (ngSubmit)="setNewUser()" autocomplete="off" novalidate>
        <div>
            <label >First Name:</label>
            <div>
                <input name="firstName"
                       [(ngModel)]="person.firstName"
                       required
                       minlength="2"
                       #firstName="ngModel">
            </div>
        </div>
        <div>
            <label >Last Name:</label>
            <div>
                <input name="lastName"
                       [(ngModel)]="person.lastName"
                       required
                       minlength="2"
                       #lastName="ngModel">
            </div>
        </div>
        <div>
            <label>Username:</label>
            <div>
                <input name="username"
                       [(ngModel)]="person.username"
                       (focus)="onUsernameFocus()"
                       (blur)="onUsernameBlur()"
                       required
                       minlength="6"
                       maxlength="100"
                       #username="ngModel">
                <div *ngIf="usernameMsg">{{usernameMsg}}</div>
            </div>
        </div>
        <div>
            <label>Email:</label>
            <div>
                <input name="email"
                       [(ngModel)]="person.primaryEmail"
                       (focus)="onEmailFocus()"
                       (blur)="onEmailBlur()"
                       required
                       type="email"
                       email
                       appCheckEmail
                       minlength="6"
                       maxlength="100"
                       #email="ngModel">
                <div *ngIf="emailMsg">{{emailMsg}}</div>
                <div *ngIf="restoreUsername"><a [routerLink]="['/restore-username']">Restore Username</a> </div>
            </div>
        </div>

        <div>
            <label>Password:</label>
            <div>
                <input name="password"
                       [(ngModel)]="person.password"
                       required
                       type="password"
                       minlength = "6"
                       (ngModelChange)="onPasswordChanged($event)"
                       #password="ngModel">
            </div>
        </div>
        <div>
            <label >Re-confirm Password:</label>
            <div>
                <input name="confirm"
                       [formControl]="confirm"
                       required
                       type="password"/>
            </div>
        </div>
      <!--  <input type="file" name="upload" (change)="upload($event)" /> -->
        <button (click)="onSubmit()" [class.disabled]="(!f.valid || !passwordOK)" class="valign blue col s3 right waves-effect waves-light btn" >Register</button>

    </form>
    <!--<a routerLink="../company" routerLinkActive="active">Company</a>-->
    <!--<a routerLink="../company" routerLinkActive="active" class="valign blue col s3 right waves-effect waves-light btn" >Company</a>-->
    <div class="debug">valid: {{ f.valid | json }} </div>
    <div class="debug">person: {{ person | json }} </div>
    <div class="debug"> {{(usernameOK && emailOK && passwordOK) | json }} </div>


</div>
