<md-grid-list cols="3" rowHeight="70px">
  <md-grid-tile colspan="3">
    <h2>POST VIEW</h2>
  </md-grid-tile>
</md-grid-list>

<md-grid-list cols="3" rowHeight="500px">
  <md-grid-tile [colspan]="2">
    <md-grid-list cols="1" rowHeight="500px" style="width: 100%">
      <md-grid-tile>
        <app-post-details [post]="post"></app-post-details>
      </md-grid-tile>
      <!--<md-grid-tile>-->
        <!--<md-grid-list cols="1" rowHeight="200px" style="width: 100%">-->

          <!--<md-grid-tile>-->
            <!--<md-grid-list cols="2" rowHeight="300px" style="width: 100%">-->
              <!--<h3>Posts need</h3>-->
              <!--<div (click)="onClickItem(item)" *ngFor="let item of myPosts | postsFilter:'need'; let i=index">-->
                <!--<md-grid-tile *ngIf="i<4">-->
                  <!--<app-posts-card [post]="item" [viewDetailsButton]="true"></app-posts-card>-->
                <!--</md-grid-tile>-->
              <!--</div>-->
            <!--</md-grid-list>-->
          <!--</md-grid-tile>-->

          <!--<md-grid-tile>-->
            <!--<md-grid-list cols="2"  rowHeight="200px" style="width: 100%">-->
              <!--<h3>Posts offer</h3>-->
              <!--<div (click)="onClickItem(item)" *ngFor="let item of myPosts | postsFilter:'offer'; let i=index">-->
                <!--<md-grid-tile *ngIf="i<4">-->
                  <!--<app-posts-card [post]="item" [viewDetailsButton]="true"></app-posts-card>-->
                <!--</md-grid-tile>-->
              <!--</div>-->
            <!--</md-grid-list>-->
          <!--</md-grid-tile>-->

        <!--</md-grid-list>-->
      <!--</md-grid-tile>-->
    </md-grid-list>
  </md-grid-tile>

  <md-grid-tile [colspan]="1">
    <md-grid-list cols="1" rowHeight="250" style="width: 100%">
      <md-grid-tile>
        <md-list>
          <md-list-item>
            <button md-raised-button color="primary" (click)="onRequestClick()">request service</button>
          </md-list-item>
          <md-list-item>
            <button md-raised-button color="primary" (click)="onShareClick()">share</button>
          </md-list-item>
          <md-list-item>
            <button md-raised-button color="primary" (click)="onReportClick()">report</button>
          </md-list-item>
          <!--<md-list-item>-->
          <!--service recommended by-->
          <!--</md-list-item>-->
          <!--<md-list-item>-->
          <!--<button md-raised-button color="primary" (click)="onRecommendClick()">recommended this post</button>-->
          <!--</md-list-item>-->
        </md-list>
      </md-grid-tile>
      <md-grid-tile>
        <app-post-info [post]="post" [person]="person"></app-post-info>
      </md-grid-tile>
    </md-grid-list>
  </md-grid-tile>
</md-grid-list>


  <md-grid-list cols="2" rowHeight="4:5" style="width: 100%">
    <h3>Posts need</h3>
    <div (click)="onClickItem(item)" *ngFor="let item of personPosts | postsFilter:'need'; let i=index">
      <md-grid-tile *ngIf="i<4">
        <app-posts-card [post]="item" [viewDetailsButton]="true" [idPerson]="person.id"></app-posts-card>
      </md-grid-tile>
    </div>
  </md-grid-list>

  <md-grid-list cols="2"  rowHeight="4:5" style="width: 100%">
    <h3>Posts offer</h3>
    <div (click)="onClickItem(item)" *ngFor="let item of personPosts | postsFilter:'offer'; let i=index">
      <md-grid-tile *ngIf="i<4">
        <app-posts-card [post]="item" [viewDetailsButton]="true" [idPerson]="person.id"></app-posts-card>
      </md-grid-tile>
    </div>
  </md-grid-list>
