#banner{
    /*background: url('app/img/home_page/landing.jpg') no-repeat center center;*/
    background: url('./landing.jpg') no-repeat center center;
    background-size:cover;
    height:700px;
}

.transparent_logo{
    content: url('./transparent_logo.png');
}
