<div id='banner'>
  <md-grid-list cols="12">
      <md-grid-tile [colspan]="3">
          <img class='transparent_logo'>
      </md-grid-tile>
    <md-grid-tile [colspan]="5"></md-grid-tile>
          <md-grid-tile>
            <a md-raised-button color="primary" routerLink="/home">HOME</a></md-grid-tile>
    <md-grid-tile><a md-raised-button color="accent" routerLink="/join-us">JOIN US</a></md-grid-tile>
    <!--<md-grid-tile><a md-raised-button color="accent" [routerLink]="['/', {outlets: {'slideRight': ['join-us']}}]">JOIN US</a></md-grid-tile>-->
        <md-grid-tile><app-login-button ></app-login-button></md-grid-tile>
  </md-grid-list>
  <md-grid-list cols="12" rowHeight="1:16">
<md-grid-tile [colspan]="4"></md-grid-tile>
                <md-grid-tile [colspan]="2">
                  <md-input-container color="info">
                      <input  mdInput placeholder="start your search here"/>
                  </md-input-container>
                </md-grid-tile>
                <md-grid-tile [colspan]="2">
                  <a md-raised-button color="primary" routerLink='/search'>
                  <md-icon>search</md-icon>
                  Search
                  </a>
          </md-grid-tile>
  </md-grid-list>
</div>
