<div>
    <md-grid-list cols="10" rowHeight="70px">
        <md-grid-tile [colspan]="9"><h3> Log In </h3></md-grid-tile>
        <md-grid-tile>
            <button md-button (click)="onCloseClick()">X</button>
        </md-grid-tile>

    </md-grid-list>


    <div>
        <p *ngIf="fullName">Hello {{fullName}}</p>
    </div>
    <form #f="ngForm" autocomplete="off" novalidate>
        <md-list>
            <md-list-item>
                <md-input-container>
                    <input mdInput placeholder="Username"
                           name="username"
                           [(ngModel)]="login.username"
                           required
                           minlength="6"
                           #username="ngModel">
                </md-input-container>
            </md-list-item>
            <md-input-container>
                <input mdInput
                       placeholder="Password"
                       name="password"
                       [(ngModel)]="login.password"
                       required
                       minlength="6"
                       #password="ngModel"
                       [type]="showPass ? 'text': 'password'"
                       style="width: 100%"/>
            </md-input-container>
            <md-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="showPass">Show password</md-checkbox>


            <div class='row'>
                <button md-raised-button color="accent" [class.disabled]="!f.valid" (click)="onSubmit()">
                    Sign In
                </button>
                <h5 class="col s12 center">OR</h5>
                <div class=" col s12 btn blue">
                    <span>Login with Facebook</span>
                </div>
            </div>
        </md-list>
    </form>
</div>
