<div>
    <h3>Reset Password</h3>
    <form #f="ngForm" (ngSubmit)="resetPass()"  autocomplete="off" novalidate>

        <div>
            <label>New Password:</label>
            <div>
                <input name="password"
                       [(ngModel)]="newPassword"
                       required
                       type="password"
                       minlength = "6"
                       [type]="showPass ? 'text': 'password'"
                       (ngModelChange)="onPasswordChanged($event)"
                       #password="ngModel">
            </div>
        </div>
        <div>
            <md-checkbox [ngModelOptions]="{standalone: true}"  [(ngModel)]="showPass">Show password</md-checkbox>
        </div>
        <div>
            <label >Re-confirm New Password:</label>
            <div>
                <input name="confirm"
                       [formControl]="confirm"
                       required
                       [type]="showPass ? 'text': 'password'"
                       type="password"/>
            </div>
        </div>

        <button (click)="onSubmit()" [class.disabled]="(!f.valid || !passwordOK)" class="valign blue col s3 right waves-effect waves-light btn">Reset Password</button>
    </form>
</div>

<div class="debug">valid: {{ f.valid | json }} </div>
<div class="debug"> {{(passwordOK) | json }} </div>
<div class="debug"> {{(!f.valid || !passwordOK) | json }} </div>